:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-big-white: #20272e;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #1b2127;
    --clr-pink: #A140FD;
    --clr-skyblue: #21A5EE;
    --clr-background: #1b2127;
    --clr-grey-white: #bbbbbb;
    --clr-dark-background: #303030;
    --clr-hire: #20272e;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(140, 140, 140, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
    --fieldset-color: #252d36;
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
  }
  body{
    background: var(--clr-background);
    transition: background 0.5s, color 0.5s;
  }
  body::-webkit-scrollbar{
    width: 11px;
  }
  body::-webkit-scrollbar-track{
    background: #d1e5ff;
  }
  body::-webkit-scrollbar-thumb{
    background: #4b5767;
    transition: .5s;
  }
  body::-webkit-scrollbar-thumb:hover{
    background: #2e353f;
  }
  svg{
    position: absolute;
    z-index: -1;
  }
  .logo{
    padding: 10px;
    position: absolute;
    margin-top: 7px;
    font-size: 15px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    color: var(--clr-white);
    cursor: pointer;
  }
  .logo span{
    color: var(--clr-skyblue);
    font-weight: 600;
  }
  .menu{
    width: 100%;
    height: 60px;
    background: var(--clr-background);
    position: fixed;
    top: 0;
    z-index: 111;
    transition: 0.5s;
  }
  .menu .nav-contents{
    display: flex;
    float: right;
    margin-right: 3rem;
  }
  .menu .nav-contents a{
    margin-right: 17px;
    height: 35px;
    margin-top: 15px;
    background: transparent;
    cursor: pointer;
    color: #23A0EF;
    text-decoration: none;
    font-size: 1.1rem;
  }
  hr{
    display: none;
    background-color: #000;
  }
  .menu button{
    position: absolute;
      right: 0;
      height: 30px;
      width: 5rem;
      margin-right: 5rem;
      margin-top: 13px;
      background: var(--clr-skyblue);
      color: var(--clr-white);
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .menu button a{
    color: #fff;
    text-decoration: none;
  }
  .menu a.active{
    color: var(--clr-white);
  }
  .active-link {
    color: #fff;
  }
  .menu-icons #menu-icon{
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 40px;
    margin-left: 1.5rem;
    margin-top: 12px;
    font-size: 1.5rem;
    color: var(--clr-skyblue);
    display: none;
    z-index: 222;
  }
  .dark-theme{
    --clr-background: #F4F7FC;
    --clr-white: #000;
    --clr-big-white: #ffffff;
    --clr-grey-white: #707174;
    --clr-hire: #3C3633;
    --fieldset-color: #f0eeee;
  }
  .menu .fa-moon{
    color: var(--clr-skyblue);
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
    margin-top: 15px;
    font-size: 25px;
    visibility: hidden;
  }
  .menu .fa-sun{
    color: var(--clr-skyblue);
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
    margin-top: 15px;
    font-size: 25px;
    visibility: visible;
  }
  .light{
    height: 30px;
    margin-top: 12px;
  }
  .fixed-elipse{
    position: fixed;
    top: 20%;
    right: -100px;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(200deg,#9F40FC,#21A5EE);
    border-radius: 50%;
    opacity: 0.1;
  }
  
  @media screen and (max-width: 950px) {
    .menu{
      background: var(--clr-big-white);
    }
    .menu-icons #menu-icon{
      display: block;
  
    }
    .menu .nav-contents{
      position: absolute;
      height: 100vh;
      width: 100vw;
      background: #00294a;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      display: none;
      font-size: 4rem;
      padding-left: 20px;
      animation-name: animate-nav;
    }
    .menu.active-menu .nav-contents{
      display: block;
      transition: .5s;
    }
    .menu.active-menu button{
      display: block;
      border-radius: 0px;
      height: 45px;
      font-size: 25px;
    }
    .menu .nav-contents a{
      background: transparent;
      border: none;
      color: #fff;
      padding-top: 10px;
      font-size: 2rem;
    }
    .menu button{
      position: absolute;
      top: 32rem;
      left: 0;
      width: 100%;
      display: none;
      font-size: 20px;
    }
    .logo{
      display: none;
    }
    hr{
      display: block;
      opacity: 0.1;
      margin-top: 15px;
    }
  }
  .about-me {
    display: flex;
    padding: 0px 30px 0px;
    width: 100%;
    margin-top: 5rem;
  }
  .about-me .profile {
    height: 25rem;
    width: 50%;
  }
  
  .about-me .my-names {
    left: 0;
    height: 12rem;
    width: 50%;
    margin-top: 6rem;
  }
  
  .about-me .profile {
    right: 0;
    padding: 0px 20px 0px;
  } 
  @media screen and (max-width: 850px) {
    .about-me {
      display: flex;
      flex-direction: column;
    }
    .about-me .my-names,
    .about-me .profile {
      position: static;  
      width: 100%;     
    }
  }
  .about-me .my-names .hey{
    font-size: 1.2rem;
    color: var(--clr-white);
  }
  .about-me .my-names .names{
    font-size: 2.5rem;
    color: var(--clr-skyblue);
    display: flex;
    font-weight: 100;
    margin-top: 10px;
  } 
  .about-me .my-names .social{
    margin-top: 10px;
  }
  .about-me .my-names .social a{
    font-size: 1.2rem;
    margin-left: 10px;
    color: var(--clr-skyblue);
  }
  .about-me .profile img{
    height: 13rem;
    width: 9rem;
    margin-left: 35%;
    border-radius:   56% 44% 45% 55% / 41% 30% 70% 59%;
  }
  .about-me .profile .who{
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    font-weight: 100;
    margin-top: 10px;
    color: var(--clr-skyblue);
    margin-left: 35%;
  }
  .about-me .profile span{
   font-weight: 200;
   line-height: 1.6;
   letter-spacing: 1px;
   font-size: 1rem;
   padding-left: 2rem 0px 0px 0px;
   color: var(--clr-white);
   margin-top: 20px;
  }
  @media screen and (max-width: 450px) {
    .about-me .my-names .hey{
      font-size: 1rem;
    }
    .about-me .my-names .names{
      font-size: 1.5rem;
    }
    .about-me .profile img{
      margin-left: 25%;
    }
    .about-me .profile .who{
      margin-left: 25%;
      font-size: 1.5rem;
    }
    .about-me .profile span{
      font-size: 0.9rem;
      letter-spacing: 1px;
      line-height: 2;
    }
    .about-me .profile{
      padding: 0px 0px 0px;
    }
  }
  .about-me .intro{
    position: absolute;
    width: 90%;
    margin-top: 25rem;
    padding: 0px 10rem 0px;
  }
  .about-me .intro span{
    display: flex;
  }
  .about-me .intro .introduction{
    margin-left: 17rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--clr-grey-white)
  }
  .about-me .intro .title{
    font-size: 1.6rem;
    margin-top: 12px;
    color: var(--clr-white);
  }
  .about-me .intro .text{
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 1px;
    margin-top: 15px;
    color: var(--clr-grey-white);
    text-align: center;
  }
  .about-me .intro p{
    color: #fff;
  }
  @media screen and (max-width: 853px) {
    .about-me .intro{
      margin-top: 45rem;
      padding: 0px;
    }
  }
  @media screen and (max-width: 470px) {
    .about-me .intro .introduction{
      margin-left: 5rem;
      font-size: 1.5rem;
    }
    .about-me .intro .title{
      font-size: 1.1rem;
    }
  }
  .cv{
    margin-top: 17rem;
    margin-left: 32rem;
  }
  .cv button{
    height: 40px;
    width: 10rem;
    border-radius: 5px;
    border: none;
    background: #675C9C;
  }
  .cv button a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  @media screen and (max-width: 970px) {
    .cv{
      margin-top: 20rem;
      margin-left: 20rem;
    }
  }
  @media screen and (max-width: 850px) {
    .cv{
      margin-top: 20rem;
      margin-left: 20rem;
    }
  }
  @media screen and (max-width: 450px) {
    .cv{
      margin-top: 20rem;
      margin-left: 5rem;
    }
  }
  @media screen and (max-width: 550px) {
    .cv{
      margin-top: 23rem;
      margin-left: 10rem;
    }
  }
  @media screen and (max-width: 400px) {
    .cv{
      margin-top: 22rem;
      margin-left: 7rem;
    }
  }
   .title{
    font-size: 1.5rem;
    color: var(--clr-skyblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    margin-top: 30px;
  }
  .skills{
  padding-right: 10px;
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  }
  .skills .cards{
  margin-left: 20px;
  height: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
  }
  .skills .cards img{
  height: 50px;
  }
  .skills .cards span{
  font-size: 20px;
  font-weight: 500;
  color: var(--clr-white);
  margin-top: 10px;
  }
  .skills .cards p{
  font-size: 15px;
  margin-top: 15px;
  color: var(--clr-grey-white);
  line-height: 1.6;
  text-align: center;
  }
  .other-skills{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  margin-top: 20px;
  margin-left: 3rem;
  gap: 15px;
  }
  .other-skills img{
  height: 50px;
  }
  @media screen and (max-width: 700px) {
  .other-skills{
    margin-left: 1rem;
  }
  }
  .works .title{
    font-size: 2rem;
    color: var(--clr-skyblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    margin-top: 30px;
  }
  .works .projects{
  width: 100%;
  padding-right: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 10px;
  gap: 20px;
  }
  .works .projects .images{
  position: relative;
  }
  .works .projects .project-title{
  height: 30px;
  width: 180px;
  background: var(--clr-big-white);
  font-size: 15px;
  margin-top: 10px;
  margin-left: 22%;
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  color: var(--clr-white);
  }
  .works .projects a{
  position: absolute;
  left: 37%;
  top: 50%;
  height: 30px;
  width: 100px;
  background: #21A5EE;
  text-align: center;
  padding-top: 6px;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0;
  }
  .works .projects .img{
  height: 15rem;
  width: 22rem;
  margin-top: 10px;
  box-shadow: var(--dark-shadow);
  }
  
  @media screen and (max-width: 639px) {
  .works .projects .img{
    width: 100%;
    height: 15rem;
  }
  }
  .blog-title{
    font-size: 1.5rem;
    color: var(--clr-skyblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .blogs{
  padding-right: 10px;
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  position: relative;
  }
  .blogs .blog-cards{
  margin-left: 20px;
  height: 28rem;
  box-shadow: var(--dark-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  }
  .blogs .blog-cards span{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  color: var(--clr-white);
  }
  .blogs .blog-cards p{
  font-size: 15px;
  color: var(--clr-grey-white);
  margin-top: 15px;
  color: #9594a1;
  line-height: 1.6;
  text-align: center;
  max-height: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  }
  .blogs .blog-cards {
    position: relative;
  }
  
  .blogs .blog-cards img {
    height: 17rem;
    width: 100%;
  }
  
  .img-hover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #ff3040;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: 700;
    font-size: 1.5rem;
    height: 28rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blogs .blog-cards:hover .img-hover {
    opacity: 1;
  }
  
  .hire{
  height: 13rem;
  width: 100%;
  background: var(--clr-hire);
  margin-top: 30px;
  }
  .hire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  }
  .hire .title{
    color: #fff;
  }
  .hire button{
  margin: 40px;
  height: 40px;
  width: 10rem;
  cursor: pointer;
  color: white;
  border: none;
  background: transparent;
  border: 1.5px solid white;
  transition: .5s;
  }
  .hire button:hover{
  background: white;
  color: #000;
  }
  @media screen and (max-width: 420px) {
  .hire{
    font-size: 1rem;
    width: 100%;
  }
  }
  .contacts-title{
  font-size: 1.5rem;
  color: var(--clr-skyblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  }
  .contacts{
  width:50%;
  margin-left: 30%;
  }
  .contacts .get{
  margin-top: 30px;
  font-size: 1.5rem;
  color: var(--clr-grey-white);
  }
  .contacts .email{
  width:450px;
  height: 45px;
  margin-top: 20px;
  }
  .contacts .names{
  height: 45px;
  width: 450px;
  margin-top: 20px;
  }
  .contacts .phone{
  height: 45px;
  width: 450px;
  margin-top: 20px;
  }
  .contacts .message{
  width:450px;
  height: 105px;
  margin-top: 20px;
  }
  .contacts input{
    color: var(--clr-white);
    padding: 10px;
    border: 1px solid #87888B;
    outline: none;
    border-radius: 3px;
    background: transparent;
  }
  .contacts input:focus{
  border: 1.5px solid #675C9C;
  }
  .contacts .inputs textarea{
    resize: none;
    border: 1px solid #87888B;
    outline: none;
    padding: 10px;
    color: var(--clr-white);
    border-radius: 3px;
    background: transparent;
  }
  .contacts .inputs textarea:focus{
  border: 1.5px solid #675C9C;
  }
  .contacts button{
  height: 45px;
  background: #675C9C;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 450px;
  margin-top: 10px;
  }
  @media screen and (max-width: 700px) {
  .contacts{
    margin-left: 2rem;
    width: 90%;
  }
  }
  @media screen and (max-width: 454px) {
    .contacts .email{
      width: 90%;
    }
    .contacts .message{
      width: 90%;
    }
    .contacts button{
      width: 90%;
    }
    .contacts .phone{
      width: 90%;
    }
    .contacts .names{
      width: 90%;
    }
  }
  .thanks{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--clr-white);
  }
  footer{
  height: 8rem;
  width: 100%;
  background: #183650;
  margin-top: 3rem;
  padding: 0px 0px 0px 40%;
  }
  footer .text{
  padding: 23px 0px 0px 15px;
  color: #fff;
  }
  footer img{
  margin-top: 25px;
  height: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  }
  .scroll img{
  height: 50px;
  float: right;
  cursor: pointer;
  }
  
  @media screen and (max-width: 480px) {
  footer{
    padding: 0px 0px 0px 30%;
  }
  }